    @charset "UTF-8";

    h1,h2,h3 {
            color: rgb(70, 51, 0);
            margin: auto;
    }
    p {
            color: rgb(78, 44, 0);
    }
    body {
            background-color: rgb(36, 36, 36);
    }
    main {
        margin: auto;
        width: 600px;
        background-color: rgb(206, 206, 206);
        border: 20px;
        padding: 10px;
    }